.post-card {
  padding: 24px;
  border-radius: 20px;
  margin-bottom: 24px;
}

#post-info {
  font-size: 16px;
}

#post-body {
  font-size: 14px;
  width: 100%;
  word-wrap: break-word;
}

#num-upvotes {
  font-size: 16px;
  text-align: center;
}

h2 {
  margin: 0px;
  font-size: 36px;
  font-weight: 500;
}

